#appScreen {
	position: relative;
	width: 512px;
	height: 512px;
	left: 50%;
	/*top: 5%;*/
	margin-left: -256px;
	margin-top: 3%;
}

#app {
}

.circle {
	/*background: rgb(123, 0, 255);*/
	border-radius: 50%;
}
/*TODO: put the input button at the bottom*/
.previewComponent {
	position: relative;
	margin-top: 2%;
	left: 35%;
	bottom: 4%;
}

#imgPreview {
	display: none;
}
